.head {
    color: #dddad6;
}

body {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    background: #181a1b;
    color: #dddad6;
    padding: 10px;
}
.document{
    border-color: #373c3e;
    border-style: solid;
    border-width: 1px;
    padding: 0px 40px 31px 40px;
    border-radius: 12px;
}
pre{
    font-family: monospace;
    margin-left: 3px;
    margin-right: 3px;
    background: #1c1e1f;
    padding: 10px;
    border-radius: 8px;
}

h1 {
  font-weight: bold;
  font-size: 28px;
}

h2 {
  font-weight: bold;
  font-size: 26px;
}


.title{
    text-align: center;
    font-size: 32px;
}

.literal{
    color: #8ec1ec;
}
.name{
    color: #93c8f5;
}
.number{
    color: #096634;
}
.builtin, .double{
    color: #57aef9;
}
.keyword, .operator, .interpol{
    font-weight: bold;
    color: #d73c4b;
}
.variable{
    color: #663409;
}
.double {
    color: #93c8f5;
}
.comment{
    color: #7c848e;
}
table {
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #373c3e;
  padding: 8px;
}


table th {
  text-align: left;
  color: black;
}
caption {
  padding: 8px;
}

a {
  color: #57aef9;
}
